{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <header>
        <h1>AIchatbot</h1>
        <p>Your personal A-chatbot</p>
    </header>

    <div class="card signup-form">
        <h2>Get Started </h2>
        <p class="welcome-message">Tell us about yourself to get personalized career advice</p>
        
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-block">Start Your Career Journey</button>
        </form>
    </div>
</div>
{% endblock %}